<footer class="footer">
    <div class="footer__inner inner">
        <div class="footer__wrap">
            <div class="footer__left">
                <div class="footer__founder">Кремер<br> Юлия Дмитриевна</div>
                <a href="mailto:moskremer@yandex.ru" class="footer__email">moskremer@yandex.ru</a>
            </div>
            <div class="footer__center">
                <div class="footer__wrap">
                    <div class="footer__item footer-menu">
                        <div class="footer-menu__header">УСЛУГИ</div>
                        <ul class="footer-menu__list">
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Физические<br> лица</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Юридические<br> лица</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__item footer-menu">
                        <div class="footer-menu__header">о нас</div>
                        <ul class="footer-menu__list">
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Наш блог</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Контакты</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer__right">
                <div class="footer__wrap">
                    <div class="footer__col">
                        <a href="tel:+79104449659" class="footer__tel">+7 910 444 96 59</a>
                        <div class="footer__worktime">ПН-ВС 8:00 — 22:00 </div>
                    </div>
                    <div class="footer__col footer__col_order footer__col_xl">
                        <button type="button" class="btn btn_white btn_green btn_w100 btn_transf" data-modal-control="feedback-form">Заказать звонок</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>