<header class="header js-header">
    <button class="burger js-burger" type="button">
        <span class="burger__icon">
            <span class="burger__line burger__line_md"></span>
            <span class="burger__line"></span>
            <span class="burger__line burger__line_sm"></span>
        </span>
    </button>
    <div class="burger-menu">
        <div class="burger-menu__inner">
            <div class="burger-menu__content">
                <ul class="burger-menu__list">
                    <li class="burger-menu__item">
                        <a href="№" class="burger-menu__link">Главная</a>
                    </li>
                    <li class="burger-menu__item">
                        <a href="№" class="burger-menu__link">Услуги</a>
                    </li>
                    <li class="burger-menu__item">
                        <a href="№" class="burger-menu__link">Юридическим лицам</a>
                    </li>
                    <li class="burger-menu__item">
                        <a href="№" class="burger-menu__link">Физическим лицам</a>
                    </li>
                    <li class="burger-menu__item">
                        <a href="№" class="burger-menu__link">Статьи</a>
                    </li>
                    <li class="burger-menu__item">
                        <a href="№" class="burger-menu__link">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header__wrap">
        <div class="header__contacts">
            <a href="tel:+79104449659" class="phone">+7 910 444 96 59</a>
            <a href="mailto:test@mail.com" class="email">test@mail.com</a>
        </div>
    </div>
</header>