{% macro icon(i) %}
<svg class="icon icon-{{i}}"><use xlink:href="img/sprite.svg#icon-{{i}}"></use></svg>
{% endmacro %}

{% macro breadcrumbs(props) %}
<!-- begin breadcrumbs -->
<ul class="breadcrumbs{% if props.class %}{{ props.class }}{% endif %}">
	{% for item in props.list %}
		{% if loop.last %}
		<li class="breadcrumbs__item">
			<span>{{ item }}</span>
		</li>
		{% else %}
		<li class="breadcrumbs__item">
			<a href="#">{{ item }}</a>
		</li>
		{% endif %}
	{% endfor %}
</ul>
<!-- end breadcrumbs -->
{% endmacro %}

{% macro checkbox(props) %}
<!-- begin input -->
<label class="{% if props.radio %}radio{% else %}checkbox{% endif %}{% if props.class %} {{ props.class }}{% endif %}">
	<input type="{% if props.radio %}radio{% else %}checkbox{% endif %}" name="{{ props.name or 'checkbox' }}"{% if props.checked %} checked{% endif %}>
	<span class="{% if props.radio %}radio{% else %}checkbox{% endif %}__text">{{ props.text or 'checkbox' }}</span>
</label>
<!-- end input -->
{% endmacro %}

{% macro articleCard(item) %}
    <a href="#" class="article-card{% if item.horizontal %} article-card_horizontal{% endif %}">
        <span class="article-card__image-wrapper">
            <span class="article-card__img">
                <img src="./img/{{ item.img }}" alt="article image">
            </span>
        </span>
        <span class="article-card__text-wrapper">
            <span class="article-card__date">
                {{ item.date }}
            </span>
            <span class="article-card__title title-sm">
                {{ item.title }}
            </span>
            <span class="article-card__text">
                {{ item.text }}
            </span>
            <span class="article-card__more">
                <span class="arrow-more">
                    <span class="arrow-more__text">Читать далее</span>
                    <span class="arrow-more__icon">
                        <span class="arrow-more__icon-inner">
                            <span class="arrow-more__icon-wrap">
                                {{ icon('arrow-long') }}
                            </span>
                        </span>
                    </span>
                </span>
            </span>
        </span>
    </a>
{% endmacro %}
