<div class="modal" data-modal="feedback1">
    <div class="modal__container" data-modal-container>
        <div class="modal__inner">
            <button class="modal__close" data-modal-close>
            {{mixins.icon('close')}}
            </button>
            <div class="feedback-modal">
                <div class="feedback-modal__name">Михаил К.</div>
                <div class="feedback-modal__text">
                    <p>
                        Выражаю свою благодарность Кремер Юлии Дмитриевне за оперативное решение наших проблем несмотря 
                        на огромное расстояние. Мы с бывшей супругой приняли обоюдное решение расстаться, без ссор, скандалов 
                        и долгих судебных тяжб. Но так как оба проживаем в США, а брак зарегистрирован в России, обратиться в 
                        органы было затруднительно.
                    </p>
                    <p>
                        Обратились к знакомому адвокату в России, сказал, что ничем не может помочь —&nbsp;необходимо личное присутствие. 
                        Стали спрашивать у друзей, в итоге нашли Юлию. Так как мы находимся далеко и не было возможности провести личную 
                        встречу, адвокат провела нам консультацию по скайпу на следующий же день после обращения.
                    </p>
                    <p>
                        Результат таков, что меньше чем за месяц мы с бывшей супругой получили все необходимые бумаги и спокойно разъехались.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" data-modal="feedback2">
    <div class="modal__container" data-modal-container>
        <div class="modal__inner">
            <button class="modal__close" data-modal-close>
            {{mixins.icon('close')}}
            </button>
            <div class="feedback-modal">
                <div class="feedback-modal__name">Ольга Р.</div>
                <div class="feedback-modal__text">
                    <p>
                        Юлия Дмитриевна, вы просто спасли меня и моего сына!
                    </p>
                    <p>
                        Бывший муж не хотел отпускать меня и супруга, но и жить с ним дальше было невозможно. Я не хотела бы описывать всю 
                        ситуацию, вспоминаю те дни с огромной горечью… Главное, что кошмар окончен! Юлия Дмитриевна в считанные дни нашла 
                        способы обезопасить нас от мужа и помогла сохранить имущество, принадлежавшее мне до замужества. 
                    </p>
                    <p>
                        Девушки, если у вас сложная ситуация в семье, вы на грани и думаете, что это конец — не медлите, обратитесь к Юлии Дмитриевне!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>