<div class="modal" data-modal="feedback1">
    <div class="modal__container" data-modal-container>
        <div class="modal__inner">
            <button class="modal__close" data-modal-close>
            {{mixins.icon('close')}}
            </button>
            <div class="feedback-modal">
                <div class="feedback-modal__name">Михаил К.</div>
                <div class="feedback-modal__text">
                    <p>
                        Выражаю свою благодарность Кремер Юлии Дмитриевне за оперативное решение наших проблем несмотря 
                        на огромное расстояние. Мы с бывшей супругой приняли обоюдное решение расстаться, без ссор, скандалов 
                        и долгих судебных тяжб. Но так как оба проживаем в США, а брак зарегистрирован в России, обратиться в 
                        органы было затруднительно.
                    </p>
                    <p>
                        Обратились к знакомому адвокату в России, сказал, что ничем не может помочь —&nbsp;необходимо личное присутствие. 
                        Стали спрашивать у друзей, в итоге нашли Юлию. Так как мы находимся далеко и не было возможности провести личную 
                        встречу, адвокат провела нам консультацию по скайпу на следующий же день после обращения.
                    </p>
                    <p>
                        Результат таков, что меньше чем за месяц мы с бывшей супругой получили все необходимые бумаги и спокойно разъехались.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" data-modal="feedback2">
    <div class="modal__container" data-modal-container>
        <div class="modal__inner">
            <button class="modal__close" data-modal-close>
            {{mixins.icon('close')}}
            </button>
            <div class="feedback-modal">
                <div class="feedback-modal__name">Ольга Р.</div>
                <div class="feedback-modal__text">
                    <p>
                        Юлия Дмитриевна, вы просто спасли меня и моего сына!
                    </p>
                    <p>
                        Бывший муж не хотел отпускать меня и супруга, но и жить с ним дальше было невозможно. Я не хотела бы описывать всю 
                        ситуацию, вспоминаю те дни с огромной горечью… Главное, что кошмар окончен! Юлия Дмитриевна в считанные дни нашла 
                        способы обезопасить нас от мужа и помогла сохранить имущество, принадлежавшее мне до замужества. 
                    </p>
                    <p>
                        Девушки, если у вас сложная ситуация в семье, вы на грани и думаете, что это конец — не медлите, обратитесь к Юлии Дмитриевне!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" data-modal="feedback-form">
    <div class="modal__container modal__container_sm" data-modal-container>
        <div class="modal__inner">
            <button class="modal__close" data-modal-close>
            {{mixins.icon('close')}}
            </button>
            <div class="form-modal">
                <div class="form-modal__head">Заказать звонок</div>
                <div class="form-modal__title">
                    Оставьте контакты, менеджер<br>
                    перезвонит в ближайшее время
                </div>
                <div class="form-modal__form">
                    <form action="" class="form">
                        <div class="form-group">
                            <input type="tel" class="form-input" placeholder="Введите телефон" data-validation="required" data-validation-error-msg="Введите телефон, пожалуйста">
                        </div>
                        <div class="form-group">
                            <button class="btn btn_white btn_green btn_lg btn_w100 btn_transf">
                                Заказать звонок
                            </button>
                        </div>
                        <div class="form-group">
                            <div class="politic-desclamer">
                                <label class="checkbox js-checkbox">
                                    <input class="checkbox__input" type="checkbox" name="politic" data-validation="required" data-validation-event="keyup change">
                                    <div class="checkbox__icon"></div>
                                    <div class="checkbox__label">Нажимая на кнопку, Вы соглашаетесь на обработку <a href="#" target="_blank">персональных данных</a></div>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" data-modal="services-modal">
    <div class="modal__container modal__container_sm" data-modal-container>
        <div class="modal__inner">
            <button class="modal__close" data-modal-close>
            {{mixins.icon('close')}}
            </button>
            <div class="form-modal">
                <div class="form-modal__head">Получить консультацию</div>
                <div class="form-modal__title">
                    Оставьте свои контакты для бесплатной консультации со специалистом по услуге 
                    <span class="form-modal__text" data-text-container></span>
                </div>
                <div class="form-modal__form">
                    <form action="" class="form">
                        <div class="form-group">
                            <input type="tel" class="form-input" placeholder="Введите телефон" data-validation="required" data-validation-error-msg="Введите телефон, пожалуйста">
                        </div>
                        <div class="form-group">
                            <button class="btn btn_white btn_green btn_lg btn_w100 btn_transf">
                                Заказать звонок
                            </button>
                        </div>
                        <div class="form-group">
                            <div class="politic-desclamer">
                                <label class="checkbox js-checkbox">
                                    <input class="checkbox__input" type="checkbox" checked='checked' name="politic" data-validation="required" data-validation-event="keyup change">
                                    <div class="checkbox__icon"></div>
                                    <div class="checkbox__label">Нажимая на кнопку, Вы соглашаетесь на обработку <a href="#" target="_blank">персональных данных</a></div>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>