<div class="modal" data-modal='feedback'>
    <div class="modal__container" data-modal-container>
        <div class="modal__inner">
            <button class="modal__close" data-modal-close>
            {{mixins.icon('close')}}
            </button>
            <div class="feedback-modal">
            </div>
        </div>
    </div>
</div>

<div class="modal" data-modal="feedback-form">
    <div class="modal__container modal__container_sm" data-modal-container>
        <div class="modal__inner">
            <button class="modal__close" data-modal-close>
            {{mixins.icon('close')}}
            </button>
            <div class="form-modal">
                <div class="form-modal__head">Заказать звонок</div>
                <div class="form-modal__title">
                    Оставьте контакты, менеджер<br>
                    перезвонит в ближайшее время
                </div>
                <div class="form-modal__form">
                    <form action="" class="form">
                        <div class="form-group">
                            <input type="tel" class="form-input" placeholder="Введите телефон" data-validation="required" data-validation-error-msg="Введите телефон, пожалуйста">
                        </div>
                        <div class="form-group">
                            <button class="btn btn_white btn_green btn_lg btn_w100 btn_transf">
                                Заказать звонок
                            </button>
                        </div>
                        <div class="form-group">
                            <div class="politic-desclamer">
                                <label class="checkbox js-checkbox">
                                    <input class="checkbox__input" type="checkbox" name="politic" checked data-validation="required" data-validation-event="keyup change">
                                    <div class="checkbox__icon"></div>
                                    <div class="checkbox__label">Нажимая на кнопку, Вы соглашаетесь на обработку <a href="#" target="_blank">персональных данных</a></div>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" data-modal="services-modal">
    <div class="modal__container modal__container_sm" data-modal-container>
        <div class="modal__inner">
            <button class="modal__close" data-modal-close>
            {{mixins.icon('close')}}
            </button>
            <div class="form-modal">
                <div class="form-modal__head">Получить консультацию</div>
                <div class="form-modal__title">
                    Оставьте свои контакты для бесплатной консультации со специалистом по услуге 
                    <span class="form-modal__text" data-text-container></span>
                </div>
                <div class="form-modal__form">
                    <form action="" class="form">
                        <div class="form-group">
                            <input type="tel" class="form-input" placeholder="Введите телефон" data-validation="required" data-validation-error-msg="Введите телефон, пожалуйста">
                        </div>
                        <div class="form-group">
                            <button class="btn btn_white btn_green btn_lg btn_w100 btn_transf">
                                Заказать звонок
                            </button>
                        </div>
                        <div class="form-group">
                            <div class="politic-desclamer">
                                <label class="checkbox js-checkbox">
                                    <input class="checkbox__input" type="checkbox" checked='checked' name="politic" data-validation="required" data-validation-event="keyup change">
                                    <div class="checkbox__icon"></div>
                                    <div class="checkbox__label">Нажимая на кнопку, Вы соглашаетесь на обработку <a href="#" target="_blank">персональных данных</a></div>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>