<section class="about" id="about">
    <div class="about__inner inner" data-aos="fade-up">
        <h2 class="about__title title">
            Индивидуальный подход<br>
                к обслуживанию и внимание к деталям
        </h2>
        <div class="about__wrap">
            <div class="about__content">
                <div class="about__left">
                    <div class="about__img">
                        <img src="./img/founder.png" alt="founder">
                    </div>
                </div>
                <div class="about__right">
                    <div class="about__text">
                        <p>Добрый день, дорогие друзья!</p>
                        <p>
                            Что мне хочется сказать Вам от себя лично. Не оставайтесь один на один с проблемой. 
                            Только своевременная помощь опытного адвоката может решить Вашу судьбу. Мы занимаемся 
                            адвокатской деятельностью более 20 лет, поэтому провели в судах большую часть своей жизни. 
                            В каждом отдельном случае, если есть необходимость, то кроме меня подключается узкоспециализированный 
                            специалист (зачастую бывшие работники полиции, прокуратуры и суда, а ныне адвокаты).
                        </p>
                        <p>
                            Стоимость наших услуг гораздо меньше полученной в итоге Вашей выгоды, как моральной, так и материальной! 
                            Все консультации я провожу лично. Обращайтесь  — наш опыт это гарантия Вашей победы!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>