<section class="section-contacts">
    <div class="section-contacts__info contacts-info">
        <h2 class="contacts-info__title title-lg">Офис находится<br>
            по адресу:</h2>
        <address>
            г. Москва, м. Красные ворота<br>
            ул. Садовая-Спасская дом 21/1<br>
            офис 321
        </address>
        <div class="contacts-info__phone"><a href="tel:+79104449659">+7 910 444 96 59</a></div>
        <div class="contacts-info__email"><a href="mailto:moskremer@yandex.ru">moskremer@yandex.ru</a></div>
    </div>
    <div class="section-contacts__map map" id="map">
    </div>
</section>