<div class="section-feedback">
    <div class="section-feedback__inner inner" data-aos="fade-up">
        <div class="section-feedback__wrap">
            <div class="section-feedback__left">
                <h2 class="section-feedback__title title-lg">
                    <span>Отзывы</span> <br>клиентов
                </h2>
                <div class="feedback-card" data-modal-control="feedback1">
                    <div class="feedback-card__name">
                        Михаил К.
                    </div>
                    <div class="feedback-card__text">
                        <p>
                            Выражаю свою благодарность Кремер Юлии Дмитриевне за оперативное решение наших проблем несмотря на 
                            огромное расстояние. Мы с бывшей супругой приняли обоюдное решение расстаться, без ссор, скандалов 
                            и долгих судебных тяжб.
                        </p>
                    </div>
                    <div class="feedback-card__more">
                        <span class="arrow-more">
                            <span class="arrow-more__text">Читать далее</span>
                            <span class="arrow-more__icon">
                                <span class="arrow-more__icon-inner">
                                    <span class="arrow-more__icon-wrap">
                                        {{ mixins.icon('arrow-long') }}
                                    </span>
                                </span>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="feedback-card" data-modal-control="feedback2">
                    <div class="feedback-card__name">
                        Ольга Р.
                    </div>
                    <div class="feedback-card__text">
                        <p>
                            Юлия Дмитриевна, вы просто спасли меня и моего сына! Бывший муж не хотел отпускать меня и супруга, 
                            но и жить с ним дальше было невозможно. 
                        </p>
                    </div>
                    <div class="feedback-card__more">
                        <span class="arrow-more">
                            <span class="arrow-more__text">Читать далее</span>
                            <span class="arrow-more__icon">
                                <span class="arrow-more__icon-inner">
                                    <span class="arrow-more__icon-wrap">
                                        {{ mixins.icon('arrow-long') }}
                                    </span>
                                </span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="section-feedback__right">
                <div class="section-feedback__form">
                    <form action="" class="form">
                        <h2 class="form__title title-lg">
                            Задайте свой вопрос
                            в форме ниже
                        </h2>
                        <div class="divider-lg"></div>
                        <div class="form-group">
                            <textarea name="" id="" cols="30" rows="10" class="form-input" placeholder="Введите ваш вопрос" data-validation="required" data-validation-error-msg="Введите ваш вопрос, пожалуйста"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-input" placeholder="Введите телефон" data-validation="required" data-validation-error-msg="Введите ваш телефон, пожалуйста">
                        </div>
                        <div class="form-group">
                            <button class="btn btn_white btn_green btn_lg btn_w100 btn_transf">
                                Отправить вопрос
                            </button>
                        </div>
                        <div class="form-group">
                            <div class="politic-desclamer">
                                <label class="checkbox js-checkbox">
                                    <input class="checkbox__input" type="checkbox" checked name="politic" data-validation="required" data-validation-event="keyup change">
                                    <div class="checkbox__icon"></div>
                                    <div class="checkbox__label">Нажимая на кнопку, Вы соглашаетесь на обработку <a href="#" target="_blank">персональных данных</a></div>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>