<section class="hero" style="background-image: url('img/hero_bg.jpg');">
    <div class="hero__inner inner">
        <div class="hero__content">
            {# <div class="hero__contacts">
                <a href="tel:+79104449659" class="hero__link">
                    <span class="hero__link-icon">{{ mixins.icon('phone') }}</span>
                    <span class="hero__link-text">+7 910 444 96 59</span>
                </a>
            </div> #}
            <div class="hero__left" data-aos="fade-up" data-aos-anchor=".hero" data-aos-delay="600">
                <h4 class="hero__subtitle">адвокатская контора</h4>
                <h1 class="hero__title title-xl">Кремер Юлии Дмитриевны</h1>
                <div class="hero__text">более 20 лет опыта и 1000 выигранных дел</div>
                <div class="hero__btn">
                    <a class="btn btn_outline btn_white" href="#">
                        <span class="btn__text">узнать больше</span>
                        <span class="btn__icon btn__icon_green">{{ mixins.icon('arrow-right') }}</span>
                    </a>
                </div>
            </div>
            <div class="hero__right" data-aos="fade-left" data-aos-delay="300">
                <div class="hero__menu hero-menu">
                    {% for item in [
                        'Арбитражные<br>дела',
                        'Уголовные<br>дела',
                        'Гражданские<br>дела'
                    ] %}
                        
                        <a href="#" class="hero-menu__item">
                            <span class="hero-menu__wrap">
                                <span class="hero-menu__name">{{ item | safe }}</span>
                                <span class="hero-menu__continue">
                                    <span class="hero-menu__more">
                                        <span class="arrow-more">
                                            <span class="arrow-more__text">Подробнее</span>
                                            <span class="arrow-more__icon">
                                                <span class="arrow-more__icon-inner">
                                                    <span class="arrow-more__icon-wrap">
                                                        {{ mixins.icon('arrow-long') }}
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </a>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>