<div class="articles-hero">
  <div class="articles-hero__inner inner" data-aos="fade-up">
    {{
      mixins.breadcrumbs({
        list: ["Главная", "Блог"]
      })
    }}
    <div class="articles-hero__content row">
      <div class="articles-hero__left col-5 col-lg-6 col-md-12">
        <div class="hero-sm__date">
          <div class="date">10 января 2018 года</div>
        </div>
        <h1 class="articles-hero__title title">
          По какой цене суд делит имущество супругов при разводе?
        </h1>
        <div class="articles-hero__text">
          <p>
            Раздел совместно нажитого супругами происходит по принципу рыночной
            цены на дату раздела.
          </p>
        </div>
        <div class="articles-hero__btn">
            <a class="btn btn_outline btn_white" href="#">
                <span class="btn__text">узнать больше</span>
                <span class="btn__icon btn__icon_green">{{ mixins.icon('arrow-right') }}</span>
            </a>
        </div>
      </div>
      <div class="articles-hero__right col-5">
        <img src="./img/articles_hero_image.jpg" alt="problems" />
      </div>
    </div>
  </div>
</div>
