<section class="hero-sm" style="background-image: url('./img/single_article_hero_bg.jpg');">
    <div class="hero-sm__inner inner">
        {{ mixins.breadcrumbs({
            list: [
                'Главная',
                'Блог',
                'Споры арендаторов и арендодателей'
            ]
        })}}
        <div class="hero-sm__date">
            <div class="date">17 декабря 2018 года</div>
        </div>
        <h1 class="hero-sm__title title">
            Споры арендаторов и арендодателей
        </h1>
    </div>
</section>