<article class="article">
    <div class="article__inner inner">
        <div class="row">
            <div class="col-9 col-md-12">
                <div class="article__content">
                    <p>Главной причиной всех конфликтов между собственниками и арендаторами является плохо проработанный договор аренды.</p>
                    <p>Закон скупо регулирует данные отношения, и стороны могут предусмотреть в нем практически любые условия. Часто случается, чтодна из сторон подходит к договору без должной осмотрительности, а конфликтные ситуации доводят до суда.</p>
                    <h3>Рассмотрим некоторые причины конфликтных ситуаций между арендаторами и арендодателями:</h3>
                    <h4>Просрочка арендной платы</h4>
                    <p>Если договор предусматривает право собственника во внесудебном порядке его расторгнуть даже при незначительной просрочке, оэтим правом, скорее всего, воспользуется. Однако, арендатор может не спешить «выселяться», а спор может дойти до суда.</p>
                    <blockquote><p>Во избежание подобного следует тщательно проработать договор и не позволять арендатору безнаказанно нарушать срокплатежа, а собственнику выселять арендатора при незначительной однократной просрочке. Также можно прописать штраф за откаосвободить помещение при досрочном расторжении договора.</p></blockquote>
                      <h4>«Несправедливая» арендная плата</h4>
                    <p>Спустя некоторое время, арендатор может счесть арендную плату несправедливой или, наоборот, собственник может поднять аренднуплату по тем или иным причинам. Например, из-за изменений арендных ставок на рынке.</p>
                    <blockquote><p>Для обоюдной защиты в договоре должна быть прописана возможность пересмотра ставок арендной платы по требованиодной из сторон.</p></blockquote>
                    <h4>Ухудшение помещения или несогласованная перепланировка</h4>
                    <p>Спор может возникнуть, если арендатор не получил согласия на перепланировку либо не согласовал конкретный перечень мероприятис арендодателем. Если дело дойдёт то суда и собственник не докажет, что в результате произведенной несогласованной перепланировккачество помещения существенно ухудшилось, а его стоимость снизилась, то спор будет проигран.</p>
                    <blockquote><p>В договоре должен быть прописан порядок согласования и проведения всех работ в арендуемопомещении.</p></blockquote>
                    <div class="addtoany_share_save_container addtoany_content addtoany_content_bottom">
                        <div class="addtoany_header">Репост:</div>
                        <div class="a2a_kit a2a_kit_size_24 a2a_default_style">
                            <a class="a2a_button_vk"></a>
                            <a class="a2a_button_facebook"></a>
                        </div>
                        <script async src="https://static.addtoany.com/menu/page.js"></script>
                    </div>
                </div>
                {# <div class="article__share">
                    <div class="share">
                        <div class="share__text">Репост:</div>
                        <script async src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                        <script async src="//yastatic.net/share2/share.js"></script>
                        <div class="ya-share2" data-services="vkontakte,facebook"></div>
                    </div>
                </div> #}
            </div>
        </div>
    </div>
</article>