.form
    &-group
        margin-bottom: 24px
    &-input
        display: block
        width: 100%
        padding: .375rem 20px
        font-size: 14px
        line-height: 1.5
        height: 70px
        border-radius: 0
        font-size: 14px
        color: $dark
        background-color: $block-bg
        border: none
        font-family: inherit
        &:focus
            +placeholder
                font-size: 0
        &_white
            background-color: $white
textarea.form-input
    height: auto
    padding: 20px
    resize: none
    min-height: 118px