.why
    padding-bottom: 100px
    &__title
        span
            display: block
            +md
                display: inline
    &__wrap
        padding: 100px
        background-color: $block-bg
        +r(1590)
            padding: 60px
        +sm
            padding: 40px
        +xs
            padding: 30px
    &__text
        line-height: 1.75
        p
            position: relative
            &:not(:first-child)
                margin-top: 30px
            &:last-child
                margin-top: 82px
                &:before
                    position: absolute
                    content: ""
                    top: -41px
                    left: 0
                    width: 56px
                    height: 2px
                    background-color: $main
            &:first-child
                margin-top: 0
                &:before
                    display: none