<section class="cases">
    <div class="cases__inner inner">
        <h2 class="cases__title title" data-aos="fade-up">
            Дела из практики
        </h2>
        <div class="cases__content">
            <div class="cases__list js-cases-slider"  data-aos="fade-up">
                {% for item in [
                    {
                        title: 'Раздел имущества при наличии брачного контракта.',
                        description: [
                            'К нам обратилась гражданка К., сбежавшая от мужа-«деспота» с двумя детьми в Подмосковье к маме. 
                        Девушке срочно требовалось оформить развод, чтобы защитить себя и детей, но ситуация была осложнена тем, что 
                        супруга не имела финансовых средств (муж запрещал работать). Так как до брака гражданка К. не подозревала о 
                        жестком характере супруга, она подписала брачный контракт.'
                        ],
                        actions: [
                            'Мы приняли поручение в тот момент, когда истица уже подала иск, что осложняло грамотное решение 
                        конфликта с нашей стороны. Однако, мы приложили все усилия и выяснили, что незадолго до конфликта, супруг 
                        обманным путем получил подпись матери истицы и передал во владение тещи недвижимость, обремененную на несколько 
                        лет вперед. С помощью этого и других фактов об особенностях ведения бизнеса бывшим супругом, мы вышли на переговоры 
                        с ответчиком. по которому в случае развода не получала никакого имущества.'
                        ],
                        result: [
                            'Дело благополучно разрешилось мировым соглашением. Супруга получила половину совместно нажитого имущества.'
                        ]
                    },
                    {
                        title: 'Развод при наличии несовершеннолетних детей.',
                        description: [
                            'Наш клиент успешный бизнесмен гражданин Н. еще до брака приобрел квартиру и машиноместо в доме бизнес-класса
                             и записал ее на будущую супругу, к тому времени мать их первого ребенка. Брак заключили через месяц после 
                             сделки, впоследствии в семье родился ещё один ребёнок.',
                             'Гражданин Н. на протяжении 15 лет содержал семью. никогда не отказывал супруге и детям в их потребностях и 
                             желаниях, дарил дорогие подарки, отправлял отдыхать заграницу несколько раз в год. Однако самому гражданину Н. 
                             приходилось работать по 20-25 часов в день. В одну из годовщин брака выяснилось, что супруга на протяжении трех 
                             лет встречается с другими мужчинами. Гражданин Н. решил незамедлительно подать на развод. Супруга в ответ начала 
                             угрожать запретом на встречи с детьми.'
                        ],
                        actions: [
                            'Гражданин Н. обратился к нам с просьбой подать на развод и не допустить, чтобы жена получила все имущество в свое 
                            владение (квартира, машиноместо, два автомобиля). Однако, как добропорядочный мужчина, он не хотел, чтобы развод 
                            значительно сказался на детях.',
                            'Мы подробно изучили ситуацию, составили ряд договоров и представили дело клиента в суде. Так как истец не хотел 
                            встречаться с бывшей супругой после вскрывшихся обстоятельств, все походы по судебным инстанциям мы взяли на себя.'
                        ],
                        result: [
                            'Несмотря на многие обременяющие дело факты, нам удалось найти решение, удовлетворяющее обе стороны. Супруг решил 
                            оставить бывшей жене квартиру ради общих детей, а также определил некую сумму на содержание детей, которую будет 
                            ежемесячно выплачивать. Однако остальное имущество и некоторые драгоценные вещи были переданы во владение нашего 
                            клиента. Количество времени, которое гражданин Н. может проводить со своими детьми также не было ограничено.'
                        ]
                    },
                    {
                        title: 'Юридическая помощь при разделе совместно нажитого имущества.',
                        description: [
                            'Гражданка С. прожила в браке с супругом более 20 лет. За это время супруги вырастили общего ребенка, построили 
                            дом в Подмосковье и недвижимость в Испании.',
                             'Однажды вечером, вернувшись домой, гражданка С. обнаружила, что ворота не открываются, а на дверях дома стоят 
                             новые замки. Муж не отвечал на звонки. Переночевав у друзей гражданка отправилась писать заявление в правоохранительные 
                             органы. Уголовное дело там возбуждать отказались (причина неизвестна, однако муж нашей клиентки ранее трудился в органах).',
                             'На первое судебное заседание гражданка С. пошла одна, без адвокатов. Там выяснилось, что имущество поделить пополам 
                             невозможно, т.к. муж предъявил расписки о заимствовании супругой крупных денежных сумм. После этого заседания гражданка 
                             С. обратилась к нам и мы начали работать над решением ситуации.'
                        ],
                        actions: [
                            'Проведенная экспертиза показала, что расписки супруга являются поддельными. В ходе дела выяснилось, что супруг сделал 
                            предложение молодой женщине, и потому старался развестись с гражданкой С., сохранив имущество для новой семьи.'
                        ],
                        result: [
                            'Дело длилось около полугода. Выработанная стратегия привела к тому, что наша клиентка получила половину имущества 
                            находящегося в России, а апартаменты в Испании полностью перешли во владение гражданки С., куда она и отправилась по окончании 
                            бракоразводного процесса.'
                        ]
                    }
                ] %}
                    <div class="cases__item cases-item">
                        <div class="cases-item__block">
                            <div class="cases-item__head">Дело:</div>
                            <div class="cases-item__title">{{ item.title }}</div>
                        </div>
                        <div class="cases-item__block">
                            <div class="cases-item__head">Описание:</div>
                            <div class="cases-item__text">
                                {% for paragraph in item.description %}
                                    <p>
                                        {{ paragraph }}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="cases-item__block">
                            <div class="cases-item__head">Предпринятые действия:</div>
                            <div class="cases-item__text">
                                {% for paragraph in item.actions %}
                                    <p>
                                        {{ paragraph }}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="cases-item__block">
                            <div class="cases-item__head">Результат:</div>
                            <div class="cases-item__text">
                                {% for paragraph in item.result %}
                                    <p>
                                        {{ paragraph }}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="cases-item__footer">
                            <div class="cases-item__row row">
                                <div class="col-8 col-sm-12">
                                    <div class="cases-item__author">
                                        <div class="cases-item__photo">
                                            <img src="./img/u1.jpg" alt="lawyer">
                                        </div>
                                        <div class="cases-item__info">
                                            <div class="cases-item__info-title">Дело вел(а):</div>
                                            <div class="cases-item__info-name">Кремер Юлия Дмитриевна</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-12">
                                    <div class="cases-item__img">
                                        <img src="./img/kremer.png" alt="signature">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>