<section class="steps">
    <div class="steps__inner inner">
        <h2 class="steps__title title" data-aos="fade-up">Как мы работаем</h2>
        {% for item in [
            {
                name: 'Первичная консультация',
                text: 'После того, как вы оставите заявку, адвокат проконсультирует, поможет оценить риски и даст первые рекомендации.'
            },
            {
                name: 'Личная встреча и заключение договора',
                text: 'При личной встрече адвокат подробно разберет вашу ситуацию и все нюансы дела. Также на этом этапе мы заключим с Вами договор, который гарантирует полную конфиденциальность дела.'
            },
            {
                name: 'Разработка стратегии ведение дела',
                text: 'Адвокат определит ваши сильные стороны и составит наиболее выигрышную стратегию ведение дела.'
            },
            {
                name: 'Сбор и подготовка документов',
                text: 'Адвокат самостоятельно посетит необходимые инстанции и подготовит документы по вашему процессу.'
            },
            {
                name: 'Досудебное урегулирование спора, проведение переговоров',
                text: 'Адвокат попробует уладить ваш конфликт мирным путем. При необходимости адвокат составит соглашение по спорным вопросам между супругами.'
            },
            {
                name: 'Составление искового заявление и обращение в суд',
                text: 'Адвокат подготовит исковое заявление и защитит ваши интересы в суде. Ваше присутствие при этом не обязательно. При необходимости решение суда будет обжаловано в судах вышестоящей инстанции.'
            },
            {
                name: 'Ваша победа',
                text: 'Мы закончим заниматься вашим делом только тогда, когда все ваши моральные и материальные интересы будут защищены.'
            }
        ] %}
            <div class="steps__item steps-item row" data-aos="fade-up">
                <div class="steps-item__col col-4 col-md-12">
                    <div class="steps-item__left">
                        <div class="steps-item__name">{{ item.name }}</div>
                        {# <div class="steps-item__num">{{ loop.index }}</div> #}
                    </div>
                </div>
                <div class="steps-item__col col-8 col-md-12">
                    <div class="steps-item__right">
                        <div class="steps-item__text">
                            <p>
                                {{ item.text }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>