<section class="why">
    <div class="why__inner inner" data-aos="fade-up">
        <h2 class="why__title title">
            <span>Почему при расторжении брака</span>
            необходимо обратиться к адвокату?
        </h2>
        <div class="why__wrap">
            <div class="why__text">
                <p>
                    Бракоразводный процесс — болезненный этап в жизни семьи. Эмоционально напряженная ситуация затрудняет поиск 
                    компромиссов и возможность грамотно договориться о разделе имущества, опеке над детьми и выплате алиментов.
                </p>
                <p>
                    Многие конфликты в семье можно решить без обращения в судебные инстанции. Мы тщательно проанализируем материалы 
                    дела, разработаем грамотную стратегию защиты, проведем переговоры, предложим оптимальные решения по урегулированию 
                    разногласий.
                </p>
                <p>
                    Зачастую участники правовых конфликтов не хотят встречаться друг с другом во время процесса. Мы учитываем этот факт 
                    и предлагаем комфортные условия сотрудничества. На основании доверенности мы представляем интересы клиента в судах 
                    всех инстанций и других официальных структурах Москвы и Московской области. Присутствие доверителя в судебных заседаниях 
                    необязательно.
                </p>
                <p>
                    Защищаем интересы клиентов более 20 лет. Наш опыт — гарантия вашей победы.
                </p>
            </div>
        </div>
    </div>
</section>