.icon-arrow-long {
  width: 14.49em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-right {
  width: 2.92em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
