<section class="services">
    <div class="services__inner inner">
        <div class="services__controls services-controls">
            <div class="services-controls__row row">
                <div class="col-md-6 col-lg-4">
                    <a href="#" class="services-controls__item">
                        <span>Физическим<br>лицам</span>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a href="#" class="services-controls__item">
                        <span>Юридическим<br>лицам</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>